/* CSS declarations go here */
.container {
  width: 95%;
  position: relative;
}

.left {
  float: left;
  width: 60%;
  margin-right: 2%;
}

.right {
  float: right;
  width: 37%;
}

ul {
  list-style-type: none;
}

#fridge{
  background-image: url("/empty-fridge.jpg");
  background-size: initial;
  min-height: 800px;
  max-width: 467px;
}
